################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SportsTripPlanner/bin/Debug
/packages
/.vs
/SportsTripPlanner/obj
/SportsTripPlanner/SportsTripPlanner.csproj.user
